div.loading {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */

    /* width: 100vw;
    height: 100vh; */

    height: calc(100vh - 61px);

    z-index: 100;

    /* background-color: var(--cl-black); */

    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #5F7ADB;
    border-color: #5F7ADB transparent #5F7ADB transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  